$body-bg: #e7eaed

$primary-color: #c0c0c0

$secondary-color: #71787f

$font-stack: "HelveticaNeueLT-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

$primary-brand-color: #40c8c6

$removemarginlaterals15: -15px

$paddingheight5px: 5px